.heading{
    display: flex;
    gap: 100px;
   justify-content: center;
   background-color: rgb(171, 153, 187);
}
.formatting{
    background-color: rgb(126, 101, 150);
    padding: 10px;

}
.links {
    display: flex;
    justify-content: space-around;
    background-color: rgb(83, 83, 110);
    padding: 10px;
    color: white;
    text-decoration: none;
    
}
.links :hover{
    font-size: 1.7rem;
    
   

}
a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.paragraph{
    background-image: url('scenery.jpg');
    background-size: contain;
}
.email{
    text-align: center;
    background-color: rgb(85, 37, 87);
    padding: 10px;
}
.image{
    border: 1px solid black;
    padding-left: 350px;
    background-color: rgb(40, 30, 49);
}
.marque{
    background-color: rgb(53, 38, 68);
    color: white;
    font-size: larger;
    padding-top: 2px;
}
.orderedlist{
    border: 1px solid black;
    background-color: rgb(79, 57, 99);
}
.unorderedlist{
    border: 1px solid black;
    background-color: rgb(79, 57, 99);
}
.discriptionlist{
    border: 1px solid black;
    background-color: rgb(79, 57, 99);

}
.tableone{
    background-color: rgb(68, 54, 82);
    border: 1px solid black;
}
.tabletwo{
    background-color: rgb(68, 54, 82);
    border: 1px solid black;
}